name: Test Validation Steps

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-input-validation-fails:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      # Missing files and file-format
      - name: Missing files and file-format
        id: missing-files-and-file-format
        uses: ./
        continue-on-error: true
        with:
          schema-file: test-files/example.schema.json

      # Missing schema-file and schema-url
      - name: Missing schema-file and schema-url
        id: missing-schema-file-and-schema-url
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
      
      # Invalid file-format option
      - name: Invalid file-format option
        id: invalid-file-format-option
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
          file-format: invalid-option
          schema-file: test-files/example.schema.json
      
      # Invalid schema-format option
      - name: Invalid schema-format option
        id: invalid-schema-format-option
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
          schema-file: test-files/example.schema.json
          schema-format: invalid-option
      
      # Invalid output-format option
      - name: Invalid output-format option
        id: invalid-output-format-option
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
          schema-file: test-files/example.schema.json
          output-format: invalid-option
      
      - name: Collect results
        id: collect-results
        env:
          MISSING_FILES_AND_FORMAT: ${{ steps.missing-files-and-file-format.outcome }}
          MISSING_SCHEMA_FILE_AND_URL: ${{ steps.missing-schema-file-and-schema-url.outcome }}
          INVALID_FILE_FORMAT_OPTION: ${{ steps.invalid-file-format-option.outcome }}
          INVALID_SCHEMA_FORMAT_OPTION: ${{ steps.invalid-schema-format-option.outcome }}
          INVALID_OUTPUT_FORMAT_OPTION: ${{ steps.invalid-output-format-option.outcome }}
        run: |
          function pick_emoji() {
            case "$1" in
              success) echo "✅" ;;
              failure) echo "❌" ;;
              *) echo "❓" ;;
            esac
          }

          # Flip results, failure -> success
          [ "$MISSING_FILES_AND_FORMAT" = "failure" ] && MISSING_FILES_AND_FORMAT="success"
          [ "$MISSING_SCHEMA_FILE_AND_URL" = "failure" ] && MISSING_SCHEMA_FILE_AND_URL="success"
          [ "$INVALID_FILE_FORMAT_OPTION" = "failure" ] && INVALID_FILE_FORMAT_OPTION="success"
          [ "$INVALID_SCHEMA_FORMAT_OPTION" = "failure" ] && INVALID_SCHEMA_FORMAT_OPTION="success"
          [ "$INVALID_OUTPUT_FORMAT_OPTION" = "failure" ] && INVALID_OUTPUT_FORMAT_OPTION="success"
          
          # Show results in GitHub step summary
          echo "$(pick_emoji $MISSING_FILES_AND_FORMAT) Missing files and file-format" >> $GITHUB_STEP_SUMMARY
          echo "$(pick_emoji $MISSING_SCHEMA_FILE_AND_URL) Missing schema-file and schema-url" >> $GITHUB_STEP_SUMMARY
          echo "$(pick_emoji $INVALID_FILE_FORMAT_OPTION) Invalid file-format option" >> $GITHUB_STEP_SUMMARY
          echo "$(pick_emoji $INVALID_SCHEMA_FORMAT_OPTION) Invalid schema-format option" >> $GITHUB_STEP_SUMMARY
          echo "$(pick_emoji $INVALID_OUTPUT_FORMAT_OPTION) Invalid output-format option" >> $GITHUB_STEP_SUMMARY
          
          # Validate that all tests failed
          if [ "$MISSING_FILES_AND_FORMAT" != "success" ] || \
             [ "$MISSING_SCHEMA_FILE_AND_URL" != "success" ] || \
             [ "$INVALID_FILE_FORMAT_OPTION" != "success" ] || \
             [ "$INVALID_SCHEMA_FORMAT_OPTION" != "success" ] || \
             [ "$INVALID_OUTPUT_FORMAT_OPTION" != "success" ]; then
            echo "::error::One or more tests did not fail as expected"
            exit 1
          fi

  test-files-exist-fails:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      
      # Non-existent file
      - name: Non-existent file
        id: non-existent-file
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
            test-files/non-existent.json
          schema-file: test-files/example.schema.json
      
      # Non-existent schema
      - name: Non-existent schema file
        id: non-existent-schema-file
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
          schema-file: test-files/non-existent.schema.json
      
      - name: Collect results
        id: collect-results
        env:
          NON_EXISTENT_FILE: ${{ steps.non-existent-file.outcome }}
          NON_EXISTENT_SCHEMA_FILE: ${{ steps.non-existent-schema-file.outcome }}
        run: |
          function pick_emoji() {
            case "$1" in
              success) echo "✅" ;;
              failure) echo "❌" ;;
              *) echo "❓" ;;
            esac
          }
          
          # Flip results, failure -> success
          [ "$NON_EXISTENT_FILE" = "failure" ] && NON_EXISTENT_FILE="success"
          [ "$NON_EXISTENT_SCHEMA_FILE" = "failure" ] && NON_EXISTENT_SCHEMA_FILE="success"
          
          # Show results in GitHub step summary
          echo "$(pick_emoji $NON_EXISTENT_FILE) Non-existent file" >> $GITHUB_STEP_SUMMARY
          echo "$(pick_emoji $NON_EXISTENT_SCHEMA_FILE) Non-existent schema file" >> $GITHUB_STEP_SUMMARY
          
          # Validate that all tests failed
          if [ "$NON_EXISTENT_FILE" != "success" ] || \
             [ "$NON_EXISTENT_SCHEMA_FILE" != "success" ]; then
            echo "::error::One or more tests did not fail as expected"
            exit 1
          fi

  test-url-exists-fails:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      
      - name: Test Schema URL Not Reachable
        id: test-schema-url-not-reachable
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
          schema-url: https://example.com/non-existent-plus-ultra.schema.json
          
      - name: Collect results
        id: collect-results
        env:
          SCHEMA_URL_NOT_REACHABLE: ${{ steps.test-schema-url-not-reachable.outcome }}
        run: |
          function pick_emoji() {
            case "$1" in
              success) echo "✅" ;;
              failure) echo "❌" ;;
              *) echo "❓" ;;
            esac
          }
          
          # Flip results, failure -> success
          [ "$SCHEMA_URL_NOT_REACHABLE" = "failure" ] && SCHEMA_URL_NOT_REACHABLE="success"
          
          # Show results in GitHub step summary
          echo "$(pick_emoji $SCHEMA_URL_NOT_REACHABLE) Schema URL not reachable" >> $GITHUB_STEP_SUMMARY
          
          # Validate that all tests failed
          if [ "$SCHEMA_URL_NOT_REACHABLE" != "success" ]; then
            echo "::error::One or more tests did not fail as expected"
            exit 1
          fi