name: Test Full Schema Validation

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-passing-schema-file-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false

      - name: Test JSON on JSON
        uses: ./
        with:
          files: |
            test-files/json/good_1.json
            test-files/json/good_2.json
            test-files/json/good_3.json
          schema-file: test-files/json/person.schema.json

      - name: Test JSON on YAML
        uses: ./
        with:
          files: |
            test-files/yaml/good_1.yaml
            test-files/yaml/good_2.yaml
            test-files/yaml/good_3.yaml
          schema-file: test-files/json/person.schema.json

      - name: Test JSON on Mixed
        uses: ./
        with:
          files: |
            test-files/json/good_1.json
            test-files/json/good_2.json
            test-files/json/good_3.json
            test-files/yaml/good_1.yaml
            test-files/yaml/good_2.yaml
            test-files/yaml/good_3.yaml
          schema-file: test-files/json/person.schema.json
      
      - name: Test YAML on JSON
        uses: ./
        with:
          files: |
            test-files/json/good_1.json
            test-files/json/good_2.json
            test-files/json/good_3.json
          schema-file: test-files/yaml/person.schema.yaml
      
      - name: Test YAML on YAML
        uses: ./
        with:
          files: |
            test-files/yaml/good_1.yaml
            test-files/yaml/good_2.yaml
            test-files/yaml/good_3.yaml
          schema-file: test-files/yaml/person.schema.yaml

      - name: Test YAML on Mixed
        uses: ./
        with:
          files: |
            test-files/yaml/good_1.yaml
            test-files/yaml/good_2.yaml
            test-files/yaml/good_3.yaml
            test-files/json/good_1.json
            test-files/json/good_2.json
            test-files/json/good_3.json
          schema-file: test-files/yaml/person.schema.yaml

      - name: Test XML on XML
        uses: ./
        with:
          files: |
            test-files/xml/good_1.xml
            test-files/xml/good_2.xml
            test-files/xml/good_3.xml
          schema-file: test-files/xml/person.schema.xsd
    
  test-passing-schema-url-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false

      - name: Test JSON on JSON
        uses: ./
        with:
          files: |
            test-files/json/good_1.json
            test-files/json/good_2.json
            test-files/json/good_3.json
          schema-url: https://raw.githubusercontent.com/chase-roohms/schema-validator/${{ github.ref }}/test-files/json/person.schema.json

      - name: Test JSON on YAML
        uses: ./
        with:
          files: |
            test-files/yaml/good_1.yaml
            test-files/yaml/good_2.yaml
            test-files/yaml/good_3.yaml
          schema-url: https://raw.githubusercontent.com/chase-roohms/schema-validator/${{ github.ref }}/test-files/json/person.schema.json
      
      - name: Test YAML on JSON
        uses: ./
        with:
          files: |
            test-files/json/good_1.json
            test-files/json/good_2.json
            test-files/json/good_3.json
          schema-url: https://raw.githubusercontent.com/chase-roohms/schema-validator/${{ github.ref }}/test-files/yaml/person.schema.yaml
      
      - name: Test YAML on YAML
        uses: ./
        with:
          files: |
            test-files/yaml/good_1.yaml
            test-files/yaml/good_2.yaml
            test-files/yaml/good_3.yaml
          schema-url: https://raw.githubusercontent.com/chase-roohms/schema-validator/${{ github.ref }}/test-files/yaml/person.schema.yaml

      - name: Test XML on XML
        uses: ./
        with:
          files: |
            test-files/xml/good_1.xml
            test-files/xml/good_2.xml
            test-files/xml/good_3.xml
          schema-url: https://raw.githubusercontent.com/chase-roohms/schema-validator/${{ github.ref }}/test-files/xml/person.schema.xsd
  
  test-find-files:
    runs-on: ubuntu-latest
    steps:
      - name: Test finding JSON files
        uses: ./
        with:
          file-format: json
          schema-file: test-files/json/any.schema.json
      
      - name: Test finding YAML files
        uses: ./
        with:
          file-format: yaml
          schema-file: test-files/yaml/any.schema.yaml
      
      - name: Test finding XML files
        uses: ./
        with:
          file-format: xml
          schema-file: test-files/xml/any.schema.xsd

  test-failing-schema-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false

      - name: Test JSON on JSON
        id: json-json
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/json/bad_1.json
            test-files/json/bad_2.json
            test-files/json/bad_3.json
          schema-file: test-files/json/person.schema.json

      - name: Test JSON on YAML
        id: json-yaml
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/yaml/bad_1.yaml
            test-files/yaml/bad_2.yaml
            test-files/yaml/bad_3.yaml
          schema-file: test-files/json/person.schema.json

      - name: Test JSON on Mixed
        id: json-mixed
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/json/bad_1.json
            test-files/json/bad_2.json
            test-files/json/bad_3.json
            test-files/yaml/bad_1.yaml
            test-files/yaml/bad_2.yaml
            test-files/yaml/bad_3.yaml
          schema-file: test-files/json/person.schema.json
      
      - name: Test YAML on JSON
        id: yaml-json
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/json/bad_1.json
            test-files/json/bad_2.json
            test-files/json/bad_3.json
          schema-file: test-files/yaml/person.schema.yaml
      
      - name: Test YAML on YAML
        id: yaml-yaml
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/yaml/bad_1.yaml
            test-files/yaml/bad_2.yaml
            test-files/yaml/bad_3.yaml
          schema-file: test-files/yaml/person.schema.yaml
      
      - name: Test YAML on Mixed
        id: yaml-mixed
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/yaml/bad_1.yaml
            test-files/yaml/bad_2.yaml
            test-files/yaml/bad_3.yaml
            test-files/json/bad_1.json
            test-files/json/bad_2.json
            test-files/json/bad_3.json
          schema-file: test-files/yaml/person.schema.yaml

      - name: Test XML on XML
        id: xml-xml
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/xml/bad_1.xml
            test-files/xml/bad_2.xml
            test-files/xml/bad_3.xml
          schema-file: test-files/xml/person.schema.xsd
      
      - name: Collect Validation Results
        env:
          JSON_JSON: ${{ steps.json-json.outcome }}
          JSON_YAML: ${{ steps.json-yaml.outcome }}
          JSON_MIXED: ${{ steps.json-mixed.outcome }}
          YAML_JSON: ${{ steps.yaml-json.outcome }}
          YAML_YAML: ${{ steps.yaml-yaml.outcome }}
          YAML_MIXED: ${{ steps.yaml-mixed.outcome }}
          XML_XML: ${{ steps.xml-xml.outcome }}
        run: |
          function pick_emoji() {
            case "$1" in
              success) echo "✅" ;;
              failure) echo "❌" ;;
              *) echo "❓" ;;
            esac
          }

          # Flip results, failure -> success
          [ "$JSON_JSON" = "failure" ] && JSON_JSON="success"
          [ "$JSON_YAML" = "failure" ] && JSON_YAML="success"
          [ "$JSON_MIXED" = "failure" ] && JSON_MIXED="success"
          [ "$YAML_JSON" = "failure" ] && YAML_JSON="success"
          [ "$YAML_YAML" = "failure" ] && YAML_YAML="success"
          [ "$YAML_MIXED" = "failure" ] && YAML_MIXED="success"
          [ "$XML_XML" = "failure" ] && XML_XML="success"
          
          echo "$(pick_emoji $JSON_JSON) JSON on JSON"
          echo "$(pick_emoji $JSON_YAML) JSON on YAML"
          echo "$(pick_emoji $JSON_MIXED) JSON on Mixed"
          echo "$(pick_emoji $YAML_JSON) YAML on JSON"
          echo "$(pick_emoji $YAML_YAML) YAML on YAML"
          echo "$(pick_emoji $YAML_MIXED) YAML on Mixed"
          echo "$(pick_emoji $XML_XML) XML on XML"
          
          # Validate that all tests failed
          if [ "$JSON_JSON" != "success" ] || \
             [ "$JSON_YAML" != "success" ] || \
             [ "$JSON_MIXED" != "success" ] || \
             [ "$YAML_JSON" != "success" ] || \
             [ "$YAML_YAML" != "success" ] || \
             [ "$YAML_MIXED" != "success" ] || \
             [ "$XML_XML" != "success" ]; then
            echo "::error::One or more tests did not fail as expected"
            exit 1
          fi
