name: Test Validation Steps

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-input-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      # Missing files and file-format
      - name: Test Input Validation
        uses: ./
        continue-on-error: true
        with:
          schema-file: test-files/example.schema.json

      # Missing schema-file and schema-url
      - name: Test Input Validation
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
      
      # Invalid file-format option
      - name: Test Input Validation
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
          file-format: invalid-option
          schema-file: test-files/example.schema.json
      
      # Invalid schema-format option
      - name: Test Input Validation
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
          schema-file: test-files/example.schema.json
          schema-format: invalid-option
      
      # Invalid output-format option
      - name: Test Input Validation
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
          schema-file: test-files/example.schema.json
          output-format: invalid-option

  test-files-exist:
    runs-on: ubuntu-latest
    steps:
      # Non-existent file
      - name: Test Files Exist Validation
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
            test-files/non-existent.json
          schema-file: test-files/example.schema.json
          output-format: invalid-option
      
      # Non-existent schema
      - name: Test Files Exist Validation
        uses: ./
        continue-on-error: true
        with:
          files: |
            test-files/good_1.json
          schema-file: test-files/non-existent.schema.json
          output-format: invalid-option