name: Test Full Schema Validation

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-schema-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false

      - name: Test JSON on JSON
        uses: ./
        with:
          files: |
            test-files/json/good_1.json
            test-files/json/good_2.json
            test-files/json/good_3.json
          schema-file: test-files/json/person.schema.json

      - name: Test JSON on YAML
        uses: ./
        with:
          files: |
            test-files/yaml/good_1.yaml
            test-files/yaml/good_2.yaml
            test-files/yaml/good_3.yaml
          schema-file: test-files/json/person.schema.json
      
      - name: Test YAML on JSON
        uses: ./
        with:
          files: |
            test-files/json/good_1.json
            test-files/json/good_2.json
            test-files/json/good_3.json
          schema-file: test-files/yaml/person.schema.yaml
      
      - name: Test YAML on YAML
        uses: ./
        with:
          files: |
            test-files/yaml/good_1.yaml
            test-files/yaml/good_2.yaml
            test-files/yaml/good_3.yaml
          schema-file: test-files/yaml/person.schema.yaml

      - name: Test XML on XML
        uses: ./
        with:
          files: |
            test-files/xml/good_1.xml
            test-files/xml/good_2.xml
            test-files/xml/good_3.xml
          schema-file: test-files/xml/person.schema.xsd